@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --primary-color: #28208C;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Arial',sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul{
  list-style: none;
}

h1, h2, h3, h4{
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

p{
  margin: 0.5rem 0;
}

img{
  width: 100%;
}

.showcase{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('https://i.ibb.co/yf6JQCz/background.png') no-repeat center center/cover #000;
}

.showcase::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000;
}
/* Showcase Top */
.showcase-top{
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 2;
   
}

.showcase-top img{
  width: 180px;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%,-50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right:0%;
  transform: translate(0%,-50%);
}

/* Showcase Content */
.showcase-content {
  display: grid;
  margin-top: 7rem;
  grid-template-columns: repeat(2,1fr);
}
.showcase-content-left {
  position: relative;
  margin: auto;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}
.showcase-content-left h1{
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.25;
}
.showcase-content-right {
  position: relative;
  margin: auto;
  display: grid;
  z-index: 2;
  grid-template-rows: repeat(2,1fr);
  grid-row-gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: left;
}


/* Buttons */

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px rgba(0,0,0,0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.8;
}
.btn-rounded {
  border-radius: 10px;
}

.btn-xl{
  font-size: 2rem;
  padding: 0.5rem 1.1rem;
  text-transform: uppercase;
}
.btn-lg{
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}
.btn-icon{
  margin-left: 1rem;
}
/* SIGNIN -------------------------------------------------------------------------- */
.container h1{
  color: #000;
  font-weight: bold;
}

/* signin-container */
.container{
  font-family: 'Montserrat',sans-serif;
  background: #fff;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 2rem;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  z-index: 2;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container a{
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.form-container form{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-container {
  margin: 20px 0;
}

.social-container a{
  border: 1px solid #dddddd;
  border-radius: 50%;
  display:  inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.meet-team{
  margin-top: 2rem;
  font-size: 1.2rem;
}
button{
  border-radius: 20px;
  border: 1px solid #28208C; 
  background: #28208C;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {  
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay-container p{
  
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  
}

.overlay {
  background: #0af062;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition:  transform 0.6s ease-in-out;
}

.overlay-panel  {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width:  50%;
  text-align: center;
  transform: translateX(0);
  transition:  transform 0.6s ease-in-out;
}

.overlay-right  {
 right: 0;
 transform: translateX(0%);
 background: linear-gradient(to right,#0af062,#28208C) no-repeat 0 0 /cover;
}

.overlay-left{
  transform: translateX(-20%);
  background: linear-gradient(to left,#0af062,#28208C) no-repeat 0 0 /cover;
}

/* Animation */

/* move signin to the right */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

/* move overlay to the left */

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring Sign-UP over signin */

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
/* Move overlay back to the right */

.container.right-panel-active .overlay{
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* About Us-----------------------------------------------------------------------*/
#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  color: #141414;
}

#about h1{
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

#about h2{
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  margin-top: 130px;
  color: #000;
  
}

#about h3{
  font-size: 1rem;
  margin-top: 10px;
  color: #ff0000;
}
.about-left-col {
  flex-basis: 50%;
}

.about-left-col img{
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}
.about-right-col h1{
  flex-basis: 50%;
  text-align: center;
}
.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

/* OUR TEAM ----------------------------------------------------- */

#team{
  font-family: "Roboto",sans-serif;
  font-size: 10px;
  padding: 1rem 0;
  background: #fff;
  color: #000;
  overflow: hidden;
}

.heading {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}

.heading::after{
  content: "";
  width: 10rem;
  height: 0.8rem;
  background-color: #136F00;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  width: 20rem;
  height: auto;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.card .card-img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%,0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profile-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  z-index: 999;
  border: 0.8rem solid #ebeef8;
}

.card h1{
  color: #333;
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.job-title{
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
}

.about{
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align:center;
  color: #333;
}

.card-btn{
  padding: 1rem 2.5rem;

  /* background-color: #445ae3; */
  background-color: var(--primary-color);

  border-radius: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #eee;
  transition: all 0.5s;
}

.card-btn:hover {
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,0.2);
}

.card-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.social-media{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.social-media i{
  font-size: 3rem;
  transition: color .5s;
}

.fa-facebook-square{
  color: #3b5999;
}
.fa-twitter-square{
  color: #55acee;
}
.fa-instagram{
  color: #e6683c;
}

.fa-linkedin{
  color: #0e76a8;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-linkedin:hover{
  color: #45e19f;
}

/* media query --------------------------------------------- */
@media(max-width:960px){
  .showcase{
    height: 100vh;
  }
  .showcase-content {
    grid-template-columns: 1fr;
  }
  .showcase-content-left h1{
    font-size: 3.8rem;
  }
  .showcase-content-right {
    margin-top: 100px;
    grid-template-rows: 1fr;
    
  }
  
  .showcase-top img{
    width: 150px;
    top: 30%;
    left: 0%;
    transform: translate(0);
  }
    .about-left-col {
    flex-basis: 100%;
  }
  .about-left-col img{
    width: 100%;
    height: 60vh;
    transform: translateY(-80px);
  }
  .about-right-col {
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid #333; */
  }
  .about-right-col h1{
    flex-basis: 100%;
  }
  .about-text {
    margin: 0 20px;
    display: inline-block;
    text-align: center;
  }

}

  @media screen and (min-width:700px){
    .card-wrapper{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .card{
      margin: 2rem;
      transition: transform .5s;
    }
  }

  @keyframes fadeIn{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .card:nth-child(1){
    animation: fadeIn .5s .5s backwards;
  }

  .card:nth-child(2){
    animation: fadeIn .5s 1s backwards;
  }

  .card:nth-child(3){
    animation: fadeIn .5s 1.5s backwards;
  }
  
  .card:hover{
    transform: scale(1.05);
  }

