.root {
  --slate-gray: #717c89;
  --pewter-blue: #8aa2a9;
  --cambridge-blue: #90baad;
  --celadon: #a1e5ab;
  --granny-smith-apple: #adf6b1;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Arial',sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #282F44;
  color: #999;
}
h1, h2, h3, h4{
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}
.logo {
  height: 40px;
}
.navbar {
  background-color: #191D32;
  align-items: center;
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed ;
  z-index: 2;
  /* margin: 10px; */
  padding: 25px;
}

.navbar-brand {
  position: relative;
  margin-right: auto;
}

.form-inline {
  position: relative;
  margin-left: auto;

}
.showcase{
  width: 100%;
  height: 100vh;
  /* background: url('https://i.ibb.co/yf6JQCz/background.png') no-repeat center center/cover #000; */
  display: grid;
}

/* .showcase::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000;
} */



.card-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 20rem;
  height: auto;
  background-color: #453A49;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  font-family: "Roboto",sans-serif;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
  z-index: 2;
}

.card .card-img{
  width: 90%;
  height: 20rem;
  object-fit: contain;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: .5rem .5rem 2rem rgba(0,0,0,0.2);
}


.card h1{
  color: #E5F9E0;
  font-size: 2.5rem;
  margin: 1.5rem 0;
}


/* About Us-----------------------------------------------------------------------*/
#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  color: #141414;
}

#about h1{
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

#about h2{
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  margin-top: 130px;
  color: #000;
  
}

#about h3{
  font-size: 1rem;
  margin-top: 10px;
  color: #ff0000;
}
.about-left-col {
  flex-basis: 50%;
}

.about-left-col img{
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}
.about-right-col h1{
  flex-basis: 50%;
  text-align: center;
}
.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}


/* LOGIN MODAL --------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

}

.signin-modal {
  background: #fff;
  /* width: 80%; */
  /* justify-self: center; */
  align-self: center;
  margin: 10px;
  padding: 20px;
  display: grid;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* LOGIN --------------------------- */

